<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data Consulting & Analytics Support</h2>
                <hr class="light">
                <p class="text-faded">Whether you need custom data science solutions or want to explore working together,<br>start a project with Dr Kim Data.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">View Services</a>
            </div>
        </div>
    </div>
</section>
