<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data Science Assistance</h2>
                <hr class="light">
                <p class="text-faded">Whether you need custom data science solutions or have questions about the latest<br>data science trends, contact Dr Kim Data to learn more about our offerings<br>and how we can fulfill your requirements.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get in touch!</a>
            </div>
        </div>
    </div>
</section>
