<section id="courses">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
           <br>
           <h2 class="section-heading">Courses and Books</h2>
           <hr class="primary">
        </div>
    </div>
   <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-offset-1 text-center">
                <img src="../img/courses/classmetrics_hero.png" alt="Best Classification Metrics course" height=300>
                <h3>Visually Learn the Best Classification Metrics</h3>
                <p class="text-muted">On-demand course for mastering ML metrics.<br>March 2024.</p>
                <a href="https://kimberly-s-site-0700.thinkific.com/courses/classification-metrics?utm_source=website&utm_medium=courses" class="btn btn-primary btn-xl " target="_blank">Free Preview Available</a>
            </div>
            <div class="col-lg-3 col-md-offset-1 text-center">
                <img src="../img/courses/HFSQL_cover.jpg" alt="Head First SQL cover" height=300>
                <h3>Head First SQL,<br>2nd edition</h3>
                <p class="text-muted">Author of instructional book in partnership with O'Reilly Media.<br>Print publication August 2026.</p>
                <a href="https://learning.oreilly.com/library/view/head-first-sql/9781098163648/" class="btn btn-primary btn-xl " target="_blank">View Early Release</a>
            </div>
            <div class="col-lg-3 col-md-offset-1 text-center">
                <img src="../img/courses/SQLA_hero.png" alt="SQL for Data Analysis course" height=300>
                <h3>SQL</br>for Data Analysis</h3>
                <p class="text-muted">On-demand course for intermediate SQL analysis skills.<br>O'Reilly Media. June 2024.</p>
                <a href="https://learning.oreilly.com/course/sql-for-data/0636920926009/" class="btn btn-primary btn-xl " target="_blank">Start Learning</a>
            </div>
        </div>
    </div>
</section>
