<section id="courses">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
           <br>
           <h2 class="section-heading">Courses and Books</h2>
           <hr class="primary">
        </div>
    </div>
   <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 text-center">
                <img src="../img/courses/classmetrics_hero.png" alt="Best Classification Metrics course" height=300>
                <h3>Visually Learn, Remember, and Choose the Best Classification Metrics</h3>
                <p class="text-muted">On-demand course for mastering machine learning classification metrics.<br>Launching March 2024.</p>
                <a href="https://kimberly-s-site-0700.thinkific.com/courses/classification-metrics" class="btn btn-primary btn-xl " target="_blank">Pre-Order Now Available</a>
            </div>
            <div class="col-lg-3 col-lg-offset-1 text-center">
                <img src="../img/courses/HFSQL_cover.jpg" alt="Head First SQL cover" height=300>
                <h3>Head First SQL,<br>2nd edition</h3>
                <p class="text-muted">Author of instructional book in partnership with O'Reilly Media.<br>Print publication August 2026.</p>
                <a href="https://learning.oreilly.com/library/view/head-first-sql/9781098163648/" class="btn btn-primary btn-xl " target="_blank">View Early Release</a>
            </div>
        </div>
    </div>
</section>