<section id="courses">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
           <br>
           <h2 class="section-heading">Courses and Books</h2>
           <hr class="primary">
        </div>
    </div>
   <div class="container">
        <div class="row">
            <div class="text-center">
                <img src="../img/HFSQL_cover.jpg" alt="Head First SQL cover" height=300>
                <h3>Head First SQL,<br>2nd edition</h3>
                <p class="text-muted">Author of instructional book in partnership with O'Reilly Media.<br>Print publication August 2026.</p>
                <a href="https://learning.oreilly.com/library/view/head-first-sql/9781098163648/" class="btn btn-primary btn-xl " target="_blank">View Early Release</a>
        </div>
    </div>
</section>