<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Practical data training and consulting for teams</h1>
            <hr>
            <p>Dr Kim Data helps teams work more effectively with data through practical training, consulting, and analytics solutions.</p>
            <a href="https://forms.gle/MFV58eCjcJjoogco6" class="btn btn-primary btn-xl ">Start a Project</a>
            <a href="#courses" class="btn btn-primary btn-xl ">View Courses</a>
        </div>
    </div>
</header>
