<section id="newsletter">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
           <br>
           <h2 class="section-heading">Keep in the Loop</h2>
           <hr class="primary">
           <p>Sign up to stay informed about new products, services, and other announcements!</p>
        </div>
        <div style="text-align: center; padding:15px; background-color:#f4f6fc" class="sender-form-field" data-sender-form-id="lsncrzkqdp3onbkosvn"></div>
            	<!-- ><form style="border:1px solid #ccc;padding:15px;text-align:center;background-color:#f4f6fc" action="https://tinyletter.com/drkimdata" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/drkimdata', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:250px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn btn-primary btn-xl"/><p><br><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form> -->
    </div>
</section>